

body {
   background-color: #000000;
   text-align: center;
}


.header img {
   background: url= "head2.png";
   background-size: cover;
   height: 200px; 
   border: 20px solid #000;
   text-align: center;
   
   }

.nav ul {
	list-style: none;
	background-color: 	#DAA520 ;
	text-align: center;
	padding:0 ;
    margin: 0;
    font-family: Bebas Neue, regular ;
    font-size: 40px ;
     }

.nav li {
  display: inline-block;
  }

.nav a {
	text-decoration: none;
	width: 100px ; 
	display: block;
	padding: 4px ;
	font-size: 70px ;
	transition: 0.4s ;
	}

     .nav a: why { 

		color: 	#000000;
		}

    .article h2 { 

      font-size: 30px ;
      font-family: Bebas Neue ;
     }